@inherits LayoutComponentBase

<Menu></Menu>

<main>
<!-- contenu des pages dans @body -->
@Body
</main>

<Menu></Menu>


<MudSnackbarProvider></MudSnackbarProvider>
<MudDialogProvider></MudDialogProvider>
<MudThemeProvider></MudThemeProvider>
<MudPopoverProvider></MudPopoverProvider>

